<!DOCTYPE html>
<html>
<head>
	<title>About M3</title>
	<link href="./dependencies/css/style.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wisdomSideNav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="navlist">
  			<a href="index.html">Back to Wisdom Interface</a>
		</div>
	</div>
	<div class="settings" onclick="openNav()">
		<img src="./dependencies/img/settings.svg" id="settings">
	</div>
	
	<div class="main">
		<div class="about">
			<div id="typedtext"></div>
		</div>
	</div>
	<script type="text/javascript" src="./dependencies/js/viewScript.js"></script>
	<script type="text/javascript" src="./dependencies/js/typed.js"></script>
</body>
</html>